/* General Body Styles */
:root {
  --primary-color: #007bff;
  --secondary-color: #f4f4f4;
  --font-family: 'Arial', sans-serif;
  --line-height: 1.6;
}

body {
  font-family: var(--font-family);
  background-color: var(--secondary-color);
  color: #333;
  line-height: var(--line-height);
  padding: 20px;
  margin: 0;
  font-size: 16px;
}

.main-header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px 40px;
  margin-bottom: 40px;
}

.main-header h1 {
  margin: 0;
  color: var(--primary-color);
  font-size: 24px;
}

.container {
  max-width: 1200px;
  margin: auto;
  overflow: auto;
  padding: 0 40px;
}

.tabs {
  overflow: auto;
  list-style-type: none;
  padding: 0;
  margin: 0 0 40px 0;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tablink {
  display: inline-block;
  padding: 15px 30px;
  cursor: pointer;
  background: #fff;
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin: 0 10px;
}

.tablink.active,
.tablink:hover {
  background-color: var(--primary-color);
  color: #fff;
}

/* Record Kick Button Enhancement */
#recordKick {
  display: block;
  width: 100%;
  max-width: 200px;
  padding: 15px;
  font-size: 18px;
  color: white;
  background: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
  margin: 20px auto;
  font-weight: bold;
}

#recordKick:hover {
  background: #0056b3;
  box-shadow: 0 6px 12px rgba(0, 123, 255, 0.3);
}

/* Kick Count Styles */
.kickCounts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.kickCounts > div {
  flex: 1;
  margin: 0 10px;
  padding: 20px;
  text-align: center;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.unnecessary-element {
  display: none; /* Hide an element that is not needed */
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

th,
td {
  padding: 15px;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

/* Calendar Styles */
#calendar {
  max-width: 1200px;
  margin: 0 auto;
}

.fc-daygrid-event {
  margin-top: 0;
}

/* Mobile Responsive Adjustments */
@media (max-width: 600px) {
  .kickCounts,
  .tablink,
  #recordKick {
    flex-direction: column;
  }

  .kickCounts > div,
  .tablink,
  #recordKick {
    width: 100%;
    margin-bottom: 10px;
  }

  .main-header h1,
  .tablink {
    text-align: center;
  }

  .container,
  .main-header {
    padding: 10px;
  }

  .tablink {
    padding: 10px;
    font-size: 16px;
  }
}
